<div class="container">  
    <div class="form-group">  
      <label>  
        Name:  
      </label>  
      <input type="text" [formControl]="fo_name" />  
      <label>  
        Email:  
      </label>  
      <input type="text" [formControl]="fo_email" /> 
      <label>  
        Phone:  
      </label>  
      <input type="text" [formControl]="fo_phone" /> 
    </div>  
    <div class="form-group">  
      <button (click)="updateEmail()" class="btn btn-dark">Add</button>  
    </div>  
    
  </div>  

<br><br>
<h2> Form Grouup Example </h2>

  <form [formGroup]="profileForm"(ngSubmit)="onSubmit()">

    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">
  
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName">

    <label for="last-name">Email: </label>
    <input id="last-name" type="text" formControlName="Email">

    <button type="submit"  class="btn btn-dark">Add</button> 
  </form>


  <h2> Form Builder</h2>
<a href="https://coryrylan.com/blog/angular-form-builder-and-validation-management" >Form builder</a>